@font-face {
    font-family: 'redhat';
    src: url(./assets/fonts/static/RedHatText-Regular.woff2) format('woff2');
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'redhat';
    src: url(./assets/fonts/static/RedHatText-SemiBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'redhat';
    src: url(./assets/fonts/static/RedHatText-Bold.woff2) format('woff2');
    font-display: swap;
    font-weight: 700;
}

:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

body{
    margin:0;
    min-height: 100vh;
    background-color: var(--rose-50);
    font-family: 'redhat', sans-serif;
    margin: 2rem 2rem;
}

main{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: wrap;
}

.dessert-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 2.25rem;
    width: min(52rem, 90vw);
    place-items: center;
}

.dessert-list h1{
    grid-column: 1 / -1;
    place-self: start;
}

.dessert-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 16rem;
}

.dessert-card-info{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.dessert-card-info h2{
    margin: 0;
}

.dessert-image-button{
    position: relative;
    box-sizing: border-box;
    display: flex;
}

.dessert-card img{
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}

.dessert-card-button{
    position: absolute;
    place-self: start;
    /* top: 67%; */
    display: flex;
    gap: 0.3rem;
    padding: 0.625rem 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid var(--rose-300);
    background-color: white;
    font-family: 'redhat';
    font-weight: 600;
}

.dessert-card-button img{
    width:1rem;
    height: auto;
}

.dessert-card .tag{
    color: var(--rose-300);
    font-weight: 400;
    font-size: 0.8rem;
    
}

.dessert-card h2{
    font-weight: 600;
    color: var(--rose-900);
    font-size: 1rem;
}

.dessert-card .price{
    color: var(--red);
    font-weight: 700;

}